.App {
  display: flex;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  background-color: #e5e5e7;
}

.container{
  justify-content: center;
  align-items: center;
  background-color: #00001f;
  height: 350px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 8px 8px 2px #b5b5cb;
}

label{
  font-weight: 700;
}

.input{
  margin-top: 40px;
  width: 60%;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none !important;  
  outline: none;
  padding: 0 12px;
  border-radius: 20px 0 0 20px;
}

.btn{
  padding: 5px 15px;
  cursor: pointer;
  height: 40px;
  background-color: #bdbde6;
  color: black;
  border: none;
  margin-left: -20px;
  font-size: 16px;
  border-radius: 0 20px 20px 0;
  font-weight: bold;
  outline: none;
}

.head{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00001f;
  margin-bottom: 20px;
}

.humspy{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.content{
  color: white;
}

@media (min-width:320px){
  .container{
    width: 90%;
    height: 360px;
  }
  .cityName{
    font-size: 30px;
  }

  .climate{
    font-size: 24px;
  }
}

@media (min-width:768px){
  .container{
    width: 50%;
  }
}